.line1{
    display: flex;
    background-color: greenyellow;
    height: 100px;
    justify-content: center;
}
.line2 {
    display: flex;
}
.child1 {
   
    display: flex;
    background-color:blueviolet;
    align-items: baseline;
    width: 600px;
    height: 200px;
}
.child2 {
   
    display: flex;
    background-color:rgb(43, 226, 180);
    align-items: baseline;
    width: 200px;
    height: 200px;
}
.child3 {
   
    display: flex;
    background-color:rgb(43, 226, 104);
    align-items: baseline;
    width: 200px;
    height: 200px;
}
.line3 {
    display: flex;

}
.ch1{
    display: flex;
    background-color:rgb(223, 226, 43);
    align-items: baseline;
    width: 100%;
    height: 100px;


}